#explore-timeline {
  position: absolute;
  bottom: 85px;
  right: 20px;
  font-family: 'KlavikaWebBasicMedium';
  z-index: 20;
}

#explore-timeline span {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

#explore-timeline .nav-arrow-right {
  display: inline-block;
  vertical-align: middle;
}

#timeline2 {
  background-color: #313131;
  overflow-x: hidden;
}

#timeline2 .timeline-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: auto;
}

#timeline2 .timeline-wrap article {
  top: 45%;
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  -webkit-transition: all 1.5s ease;
          transition: all 1.5s ease;
  opacity: 0.2;
}

#timeline2.in-view .timeline-wrap article {
  top: 45%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 1;
}

#timeline2 .full-bleed {
  z-index: 1;
  opacity: 0.4;
}

#timeline2 .full-bleed.shown {
  height: 100%;
}

#timeline2 .full-bleed .cover {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

#timeline2 .timeline-block {
  border: solid 1px #ccc;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

#timeline2 .timeline-block .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  font-family: 'ProximaNova-Regular';
}

#timeline2 .timeline-block .info .play-reel {
  text-align: center;
}

#timeline2 .timeline-block .info .icon-play-btn {
  color: #FF5543;
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
}

#timeline2 .timeline-block .info .icon-play-btn span + span {
  font-size: 11px;
}

#timeline2 .timeline-block .info .inner {
  width: 70%;
  height: 50%;
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  -ms-transform: rotate(-45deg) translate(-50%, -50%);
      transform: rotate(-45deg) translate(-50%, -50%);
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

#timeline2 .timeline-block .info .inner h5 {
  color: #D8CA53;
  font-size: 20px;
  margin: 0;
}

#timeline2 .timeline-block .info .inner p {
  color: #444444;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#timeline2 .timeline-block .info {
  visibility: hidden;
}

#timeline2 .timeline-block .info-wrap {
  background-color: #F2F2F2;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

#timeline2 .timeline-block .info-wrap.in-left {
  left: -100%;
}

#timeline2 .timeline-block .info-wrap.in-right {
  right: -100%;
}

#timeline2 .timeline-block .info.show-me {
  visibility: visible;
}

#timeline2 .timeline-block .info.show-me .info-wrap.in-left {
  left: 0;
}

#timeline2 .timeline-block .info.show-me .info-wrap.in-right {
  right: 0;
}

#timeline2 .timeline-block .info.show-me .inner {
  opacity: 1;
}

#timeline2 .date {
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: #E0E0E0;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  overflow: hidden;
}

#timeline2 .date .close {
  opacity: 0;
  background-image: url(../images/icons/menu-close-white.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

#timeline2 .date .num {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  opacity: 0;
  display: block;
  font-family: 'futura_ltlight';
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

#timeline2 .date.left-top {
  top: -12px;
  left: -12px;
}

#timeline2 .date.right-top {
  right: -12px;
  top: -12px;
}

#timeline2 .date.right-bottom {
  right: -12px;
  bottom: -12px;
}

#timeline2 .date.left-bottom {
  left: -12px;
  bottom: -12px;
}

#timeline2 .date:hover,
#timeline2 .date.hover {
  background-color: #EF4330;
  height: 60px;
  width: 60px;
}

#timeline2 .date:hover .num,
#timeline2 .date.hover .num {
  opacity: 1;
}

#timeline2 .date:hover.left-top,
#timeline2 .date.hover.left-top {
  top: -30px;
  left: -30px;
}

#timeline2 .date:hover.right-top,
#timeline2 .date.hover.right-top {
  right: -30px;
  top: -30px;
}

#timeline2 .date:hover.right-bottom,
#timeline2 .date.hover.right-bottom {
  right: -30px;
  bottom: -30px;
}

#timeline2 .date:hover.left-bottom,
#timeline2 .date.hover.left-bottom {
  left: -30px;
  bottom: -30px;
}

#timeline2 .date.selected {
  background-color: #FF5543;
  height: 60px;
  width: 60px;
}

#timeline2 .date.selected .num {
  opacity: 1;
}

#timeline2 .date.selected .close {
  /*opacity: 1;*/
}

#timeline2 .date.selected.left-top {
  top: -30px;
  left: -30px;
}

#timeline2 .date.selected.right-top {
  right: -30px;
  top: -30px;
}

#timeline2 .date.selected.right-bottom {
  right: -30px;
  bottom: -30px;
}

#timeline2 .date.selected.left-bottom {
  left: -30px;
  bottom: -30px;
}

div.scrollingHotSpotRight,
div.scrollingHotSpotLeft {
  min-width: 175px;
}

@media only screen and (min-device-width: 320px) {
  #timeline2 .timeline-block .info .inner p {
    font-size: 12px;
  }

  #timeline2 .timeline-block .info .inner {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
/* ----------- iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  #timeline2 .timeline-block .info .inner p {
    font-size: 12px;
  }
}
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
  #timeline2 .timeline-block .info .inner p {
    font-size: 16px;
  }
}
/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (min-width: 481px) {
  #timeline2 .timeline-block .info .inner p {
    font-size: 14px;
  }
}
/*********************
TABLET & SMALLER LAPTOPS
*********************/
/*********************
DESKTOP
*********************/
/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
